* {
  margin: 0;
}

body {
  background-color: rgb(44, 44, 44)
}

#heading {
  font-size: 4rem;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

/* center div and remote inline-block spacing */

#container {
  font-size: 0;
}

.centerBoth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  border: 20px solid black;
  height: 250px;
  width: 250px;
  display: inline-block;
}

.pointer:hover {
  cursor: pointer;
}

#green {
  background-color: rgba(0, 128, 0, 0.881);
  border-top-left-radius: 100%;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
}
#green:hover {
  background-color: green;
}
#red {
  background-color: rgba(255, 0, 0, 0.785);
  border-top-right-radius: 100%;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
}
#red:hover {
  background-color: red;
}
#yellow {
  background-color: rgba(255, 255, 0, 0.77);
  border-bottom-left-radius: 100%;
  border-right: 10px solid black;
  border-top: 10px solid black;
}
#yellow:hover {
  background-color: yellow;
}
#blue {
  background-color: rgba(0, 0, 255, 0.783);
  border-bottom-right-radius: 100%;
  border-top: 10px solid black;
  border-left: 10px solid black;
}
#blue:hover {
  background-color: blue;
}
#start {
  height: 22%;
  width: 22%;
  background-color: black;
  border-radius: 100%;
  color: white;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#start:hover {
  font-size: 1.5rem;
}

/*box-shadow: h-offset(+r,-l) v-offset(+d,-u) blur spread color*/
.greenPressed {
  box-shadow: -75px -75px 50px 35px green;
}
.redPressed {
  box-shadow: 75px -75px 50px 35px red;
}
.bluePressed {
  box-shadow: 75px 75px 50px 35px blue;
}
.yellowPressed {
  box-shadow: -75px 75px 50px 35px yellow;
}
